  body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    color: #000000;
    background-color: #fffbef;
    background-image: url("images/artur-luczka-loAfOVk1eNc-unsplash.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .rules {
    padding: 30px 10px;
    text-align: center;
    min-width: min-content;
  }
    
  .rules h2 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 32px;
  }
  
  .rules h3 {
    max-width: 520px;
    text-align: center;
    margin: 0 auto 15px;
    font-size: 16px;
    line-height: 20px;
  }
  
  .rules-list {
    padding: 0 20px 0 40px;
    margin: 0 auto 40px;
    font-size: 16px;
    line-height: 20px;
    max-width: 500px;
    text-align: left;
  }
  
  .rules-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
    
  .ico-button {
    padding: 7px 16px 10px 42px;
    font-family: inherit;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #2e63b3;
    background-size: 25px;
    background-position: left 8px center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .ico-button:hover {
    background-color: #438eff;
  }
  
  .ico-button:active {
    background-color: #438eff;
  }
  
  .ico-button-fin {
    background-image: url("images/finnish.svg");
  }
  
  .ico-button-ger {
    background-image: url("images/german.svg");
  }
  
  .ico-button-ita {
    background-image: url("images/italy.svg");
  }
  
  .rules .ico-button {
    margin-left: 5px;
    margin-right: 5px;
  }
  
  .game {
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
    padding: 30px 10px;
    min-width: min-content;
    max-width: 575px;
  }

  .cards {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    background-color: #ffffff;
    color: #009300;
    box-shadow: 5px 5px 20px #000000;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    width: 185px;
    height: 100px;
  }

  .card img {
    object-fit: cover;
    width: 100%;
  }

  .selected {
    outline: 4px solid #009300;
  }

  .error {
    outline: 4px solid #cf1a1a;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
  
  /* Отгаданная карточка */
  .card.disabled {
    cursor: default;
    animation: repaint 0.8s 0.2s forwards;
  }
  
  .card.disabled img {
    opacity: 0.25;
  }

  .card:not(.selected):not(.disabled):hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  /* Попытки */
  .hit-points-indicator {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: 0;
  }

  .hit-points-used {
    width: 40px;
    height: 40px;
    background-image: url("images/grey-heart-svgrepo-com.svg");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hit-points-unused {
    width: 40px;
    height: 40px;
    background-image: url("images/green-heart-svgrepo-com.svg");
    background-size: 40px;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Шкала прогресса */
  .progress-wrapper {
    display: flex;
    justify-self: center;
    width: 287px;
    height: 12px;
    border-radius: 18px;
    overflow: hidden;
  }
  
  .progress {
    background-image: repeating-linear-gradient(to right, #638d34, #638d34 46px, transparent 46px, transparent  48px);
  }

  /* Модальное окно */
  .modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10; 
    display: flex;
    align-items: center;
    justify-content: center;  
    background-color: rgba(0, 0, 0, 0.6);
    overflow-y: hidden;
    overscroll-behavior: contain;
    pointer-events: auto; 
    animation: fadeIn 0.8s 1.6s both;
  }

  .modal-box {
    position: relative;
    width: 260px;
    min-height: 200px;
    padding: 0 0 40px;
    background-color: rgb(255, 255, 255);
    box-shadow: 5px 5px 20px #000000;
    border-radius: 10px;
    box-sizing: border-box;
    text-align: center;
  }

  .modal-caption {
    margin-top: -20px;
    margin-bottom: 10px;
    padding: 70px 20px 30px;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #009300;
    max-height: 90px;
  }
   
  .modal-description {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 40px;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  .modal-box-lose .modal-caption {
    color: red;
  }

  .button {
    padding: 10px 32px;
    font-family: inherit;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #009300;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .button:hover,
  .button:active {
    background-color: #339733;
  }

  .result {
    padding: 30px 10px;
    min-width: min-content;
    text-align: center;
  }
   
  .result h2 {
    margin: 0;
    margin-bottom: 30px;
    font-size: 34px;
    line-height: 32px;
  }
  
  .result-table {
    width: 320px;
    padding: 20px;
    margin: 0 auto 30px;
    font-size: 16px;
    line-height: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    border-collapse: collapse;
  }
  
  .result-table-row {
    display: grid;
    grid-template-columns: 95px 105px 75px;
    align-items: center;
    margin: 0 20px 2px;
  }
  
  .result-table-row th {
    padding: 30px 20px 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #009300;
    text-align: left;
  }
  
  .result-table-row td {
    padding: 9px 20px;
    text-align: left;
  }
  
  .result-table tbody tr:last-child {
    margin-bottom: 20px;
  }
  
  .result-table-row.active {
    font-weight: 700;
    background-color: #ecf1f9;
    border-radius: 20px;
  }
  
  /* анимация */

  @keyframes repaint {
    from {
      transform: scale(1);
    }
  
    50% {
      color: #ffffff;
      transform: scale(1.05);
    }
  
    to {
      transform: scale(1);
      color: #ffffff;
      background-color: #cfd7e4;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }
  
    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }



  
